{% extends 'BonsaiGestorBundle::layout.html.twig' %}

{% block menu_lateral %}
	{{ parent() }}
	<li><a href="{{ path('bonsai_gestor_editar', {'id': bonsai.id}) }}">Editar {{ bonsai.nombre }}</a></li>
{% endblock %}

{% block centro %}
	<div class="eleven columns">
		<div class="seven columns">
			{% for accion in bonsai.acciones %}
				<div class="four columns"><p onclick="desplegar(this)" class="accion" style="cursor: pointer; height: 45px; overflow: hidden">{{ accion.accion }}<p></div>
				<div class="two columns">
					{{ accion.fecha|date('d, M - H:i') }}
					<br />
					<p align="center">
						<a href="{{ path('bonsai_gestor_editar_accion', {'idBonsai': bonsai.id, 'idAccion': accion.id}) }}">Editar</a>
					</p>
				</div>
				<hr />
			{% endfor %}
		</div>
		<div class="three columns">
			<div class="three columns">
				{% if bonsai.imagenes is empty %}
					<img src="{{ asset('noImagen.png') }}" width="100%" />
				{% else %}
					{% for imagen in bonsai.imagenes if imagen.principal %}
						<img src="{{ asset('uploads/documents/' ~ imagen.ruta) }}" width="100%" />
					{% endfor %}
				{% endif %}
			</div>
			<div class="three columns"><br /></div>
			<div class="three columns" id="datos_bonsai">
				<b>Nombre:</b> {{ bonsai.nombre }}<br />
				{% if bonsai.anioadquisicion != null %}
					<b>A침o de Adquisici칩n:</b> {{ bonsai.anioadquisicion }}<br />
				{% endif %}
				{% if bonsai.edadadquisicion != null %}
					<b>Edad de Adquisici칩n:</b> {{ bonsai.edadadquisicion ~ ' a침os' }}<br />
				{% endif %}
				<b>Estilo:</b> {{ bonsai.estilo.nombre }}
			</div>
		</div>
	</div>
	
	<div class="eleven columns">
		<!-- Y Otra -->
	</div>
	
	<script>
		function desplegar(myP) {
			var acciones = document.querySelectorAll(".accion");
			for (var f = 0; f < acciones.length; f++) {
				acciones[f].style.height = "45px";
			}
			myP.style.height = "";
		}
	</script>
{% endblock %}