{% extends 'BonsaiGestorBundle::layout.html.twig' %}

{% block centro %}
		{{ form_start(form) }}
			<div class="twelve columns">
				<div class="six columns">
					{{ form_row(form.accion) }}
				</div>
				
				<div class="four columns">
					{{ form_row(form.bonsai) }}
					{{ form_row(form.enviar) }}
				</div>
			</div>
		{{ form_end(form) }}
		<br />
		<hr />
		
		{% for bonsai in bonsais %}
			<div class="twelve columns" id="item_lista">
				{% if bonsai.imagenes is empty %}
					<div class="two columns">
						<img src="{{ asset('noImagen.png') }}" />
					</div>
				{% else %}
					{% for imagen in bonsai.imagenes if imagen.principal %}
						<div class="two columns">
							<img src="{{ asset('uploads/documents/' ~ imagen.ruta) }}" />
						</div>
					{% endfor %}
				{% endif %}
				<div class="three columns">
					{{ bonsai.nombre }}
				</div>
				<div class="two columns">
					<a href="{{ path('bonsai_gestor_ficha', {'id': bonsai.id}) }}">Ver Ficha</a>
				</div>
				<div class="two columns">
					<a href="{{ path('bonsai_gestor_editar', {'id': bonsai.id}) }}">Editar</a>
				</div>
				<div class="two columns">
					<a href="{{ path('bonsai_gestor_borrar', {'id': bonsai.id}) }}">Eliminar</a>
				</div>
			</div>
		{% endfor %}
{% endblock %}