{% extends 'BonsaiGestorBundle::layout.html.twig' %}

{% block centro %}
		{{ form_start(form) }}
			<div class="twelve columns">
				<div class="six columns">
					{{ form_row(form.accion) }}
				</div>
				
				<div class="four columns">
					{{ form_row(form.bonsai) }}
					{{ form_row(form.enviar) }}
				</div>
			</div>
		{{ form_end(form) }}
		
		{% for bonsai in bonsais %}
			<div class="twelve columns" id="item_lista">
				{% for imagen in bonsai.imagenes if imagen.principal %}
					<img src="{{ asset('uploads/documents/' ~ imagen.ruta) }}" height="10" width="10" />
				{% endfor %}
				{{ bonsai.nombre }}
				<a href="{{ path('bonsai_gestor_ficha', {'id': bonsai.id}) }}">Ver Ficha</a> - 
				<a href="{{ path('bonsai_gestor_editar', {'id': bonsai.id}) }}">Editar</a> - 
				<a href="{{ path('bonsai_gestor_borrar', {'id': bonsai.id}) }}">Eliminar</a>
			</div>
		{% endfor %}
{% endblock %}