{% extends 'BonsaiGestorBundle::layout.html.twig' %}

{% block centro %}
		{{ form_start(form) }}
			<table style="margin: 0 auto">
				<tr>
					<td>
						{{ form_row(form.accion) }}
					</td>
					<td>
						<table>
							<tr>
								<td>
									{{ form_row(form.bonsai) }}
								</td>
							</tr>
							<tr>
								<td align="center">
									{{ form_row(form.enviar) }}
								</td>
							</tr>
						</table>
					</td>
					<td>
						{{ form_errors(form) }}
						{{ form_rest(form) }}
					</td>
				</tr>
			</table>
		{{ form_end(form) }}
		
		<ul>
			{% for bonsai in bonsais %}
				<li>{{ bonsai.nombre }} - <a href="{{ path('bonsai_gestor_ficha', {'id': bonsai.id, 'nombre' : bonsai.nombre}) }}">Ver Ficha</a></li>
			{% endfor %}
		</ul>
{% endblock %}